
.gradient-text-0 {
    background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gradient-text-1 {
    background: -webkit-linear-gradient(#a79af9, #7aa8d2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gradient-text-2 {
    background: -webkit-linear-gradient(#bfa3da, #743f93);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gradient-text-3 {
    background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
    text-decoration-color: #84309c;
  }
  
  .title {
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: left;
  }
  
  .connect {
    margin-bottom: 2rem;
  }
  
  .description {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .flex{
    display: flex;
    align-items: center;
  }
  
  .grid {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  
  
  @media (max-width: 768px) {
    .header {
      margin-left: 0;
    }
    .grid {
      width: 100%;
      flex-direction: column;
    }
    .title {
      font-size: 3rem;
      line-height: 1.15;
    }
  }
  